<div class="container-fluid">
    <div class="row">
        <h2 style="font-weight:bold">Chico State University</h2>
    </div>
    <div class="row">
        <h4 style="font-weight:bold">Degree</h4>
        <span style="padding-left:20px">Computer Science BS</span>
    </div>
    <div class="row">
        <h4 style="font-weight:bold">Time</h4>
        <span style="padding-left:20px">2013-current</span>
    </div>
    <div class="row">
        <h4 style="font-weight:bold">Expected Graduation</h4>
        <span style="padding-left:20px">2015</span>
    </div>
    <div class="row">
        <h4 style="font-weight:bold">Clubs</h4>
        <span style="padding-left:20px">Web Development Club</span><br/>
        <span style="padding-left:20px">ACM Club</span>
    </div>
    <hr>

    <div class="row">
        <h2 style="font-weight:bold">Santa Rosa Junior College</h2>
    </div>
    <div class="row">
        <h4 style="font-weight:bold">Degree</h4>
        <span style="padding-left:20px">Electrical Engineering Pathway</span>
    </div>
    <div class="row">
        <h4 style="font-weight:bold">Time</h4>
        <span style="padding-left:20px">2009-2012</span>
    </div>
    <div class="row">
        <h4 style="font-weight:bold">Clubs</h4>
        <span style="padding-left:20px">Match Club (Officer)</span><br/>
        <span style="padding-left:20px">Chess Club</span>
    </div>

</div>