<div class="container-fluid">
    <div class="row">
        <div class="col-xs-10 col-md-10 col-lg-10">





            <h3>About Me</h3>

            <div class="row" ng-repeat="a in about">
                <b>{{a.key}}:</b> {{a.value}}
            </div>

            <h3>Bio</h3>
            <div class="row">
                I originally planned to be an Electrical Engineer, but after 4 years I found I liked software more. So I made the switch to computer science.
                It was the best move I ever made.  I love to code.  I code for work, and after that I code some more, and in between coding I am thinking about code and I love it.  The moment I knew
                when I first made the right decision was when I was self teaching myself Java. I started at 8, figured I would have a few hours of educational videos and demos then go to bed.  Before I knew
                it, the clock read 4am.  I never had felt that drive with school until I became Computer Science and I havnt looked back since.
            </div>

            <h3>Language Proficencies</h3>
            <div class="row" ng-repeat="l in langs">
                {{l}}
            </div>
            <h3>Tools Proficencies</h3>
            <div class="row" ng-repeat="t in tools">
                {{t}}
            </div>

        </div>
        <div class="col-xs-2 col-md-1 col-md-offset-1 col-lg-1">
            <div class="container-fluid">
                <div class="row" ng-repeat="img in images">
                    <image ng-src="{{img.src}}" tooltip-placement="left" tooltip="{{img.name}}" style="width:100%"></image>
                </div>
            </div>
        </div>
    </div>
</div>