<div class="container-fluid">
    <div class="row">
        <h2 style="font-weight:bold">Vision Service Plan</h2>
    </div>
    <div class="row">
        <h4 style="font-weight:bold">Role</h4>
        <span style="padding-left:20px">Software Developer Intern</span>
    </div>
    <div class="row">
        <h4 style="font-weight:bold">Time Employed</h4>
        <span style="padding-left:20px">June 2014-Current</span>
    </div>
    <div class="row">
        <h4 style="font-weight:bold">Manager</h4>
        <span style="padding-left:20px">Christian Hughes</span>
    </div>
    <div class="row">
        <h4 style="font-weight:bold">Contact</h4>
        <span style="padding-left:20px">[Ok to Contact] Email : ChriHu@VSP.com</span>
    </div>
    <div class="row">
        <h4 style="font-weight:bold">Description</h4>
        <span style="padding-left:20px">
            I have worked on multitple Angular apps for VSP, the biggest of which replaced a previous application that
            cost upwards of $500k / yr to lease from Oracle.  We used git for version control, Jira for issue management, Jboss to deploy the webapp, karma to run the unit tests,
            jbehave for end to end, artifactory to store, maven for dependency injection, jenkins for CI, and AngularJS as the framework for the UI. This app was dynamic enough to handle 50+ million different possible
            scenarios and displays, as well as complete UI validation and Oauth User Login support.<br/><br/>

            I also have created stand alone angular modules on a much smaller scale.  Currently I am working on Drools Rules for a larger back end based Java project.
        </span>
    </div>

</div>